{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/sea1.jfif" class="d-block w-100" alt="...">

</div>

<div class="container-fluid mb-5"> <h2 style="position: absolute; top: 80px;">About Us</h2>
    <div class="container-fluid mb-5">
      <div class="col-md-6" style="position: absolute; top: 140px;">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-1 text-primary"></strong>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"> Hey there! I'm Vishv, a traveler behind this (kickass travel blog).<br> Let me fill you in on a secret.
                Traveling has changed my life<br> and I want it to do the same for you.
        
                Have you ever wondered: <br>
        
            <ol>
                
                    “What’s the best way to start planning a trip?” <br>
                    “How do I find the best things to do while on the road?” <br>
                    “How can some people afford to travel for so long?” <br>
                    “How do people make money from travel blogging?” <br>
            
            </ol>
            <h4>If you answered yes to any of these questions, you are not alone as I once asked those questions myself.
            </h4>
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}